<section id="academics" class="section feature-box wow fadeIn" data-wow-delay="0.3s">
	<h1 class="section-heading h1 pt-5">Academics</h1>
	<p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	<div class="row features-big">
		<div class="col-md-4 mb-r">
			<i class="fa fa-area-chart pink-text"></i>
			<h4 class="feature-title">Analytics</h4>
			<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
		</div>
		<div class="col-md-4 mb-r">
			<i class="fa fa-pencil cyan-text"></i>
			<h4 class="feature-title">Design</h4>
			<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
		</div>
		<div class="col-md-4 mb-r">
			<i class="fa fa-laptop indigo-text"></i>
			<h4 class="feature-title">Development</h4>
			<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
		</div>
	</div>
</section>
