<section id="faculty" class="section team-section pb-4 wow fadeIn" data-wow-delay="0.3s">
	<h2 class="section-heading h1 pt-5">Our Amazing Faculty</h2>
	<p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
	<div class="row mb-lg-4 center-on-small-only">
		<div class="col-lg-6 col-md-12 mb-r">
			<div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="z-depth-1" alt="First sample avatar image">
				</div>
			</div>
			<div class="col-md-6 float-right">
				<h4><strong>John Doe</strong></h4>
				<h6 class="font-bold grey-text mb-4">Web Designer</h6>
				<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
				<a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
				<a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
				<a class="icons-sm dribbble-ic"><i class="fa fa-dribbble"> </i></a>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 mb-r">
			<div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="z-depth-1" alt="Second sample avatar image">
				</div>
			</div>
			<div class="col-md-6 float-right">
				<h4><strong>Maria Kate</strong></h4>
				<h6 class="font-bold grey-text mb-4">Photographer</h6>
				<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
				<a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
				<a class="icons-sm yt-ic"><i class="fa fa-youtube"> </i></a>
				<a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
			</div>
		</div>
	</div>
	<div class="row center-on-small-only">
		<div class="col-lg-6 col-md-12 mb-r">
			<div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" class="z-depth-1" alt="Fourth sample avatar image">
				</div>
			</div>
			<div class="col-md-6 float-right">
				<h4><strong>Anna Deynah</strong></h4>
				<h6 class="font-bold grey-text mb-4">Web Developer</h6>
				<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
				<a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
				<a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
				<a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 mb-r">
			<div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="z-depth-1" alt="Fifth sample avatar image">
				</div>
			</div>
			<div class="col-md-6 float-right">
				<h4><strong>Sarah Melyah</strong></h4>
				<h6 class="font-bold grey-text mb-4">Front-end Developer</h6>
				<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
				<a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
				<a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
				<a class="icons-sm email-ic"><i class="fa fa-envelope"> </i></a>
			</div>
		</div>
	</div>
</section>
