<section id="faculty" class="section team-section pb-4 wow fadeIn" data-wow-delay="0.3s">
	<h2 class="section-heading h1 pt-5">Our Faculty</h2>
	<p class="section-description"></p>
	<div class="row mb-lg-4 center-on-small-only">
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="z-depth-1" alt="First sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Ken Alford</strong></h4>
				<h6 class="font-bold grey-text mb-4">Instructor of Mathematics</h6>
				<p class="grey-text"></p>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="z-depth-1" alt="First sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Gil Gallegos Ph.D. </strong></h4>
				<h5>Department Chair</h5>
				<h6 class="font-bold grey-text mb-4">Associate Professor of Computer Science/Engineering</h6>
				<p class="grey-text"></p>
			</div>
		</div>
	</div>
	<div class="row center-on-small-only">
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="z-depth-1" alt="First sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Dick Greene Ph.D.</strong></h4>
				<h6 class="font-bold grey-text mb-4">Professor of Physics/Engineering</h6>
				<p class="grey-text"></p>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="z-depth-1" alt="Fifth sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>John Jeffries Ph.D.</strong></h4>
				<h6 class="font-bold grey-text mb-4">Associate Professor of Mathematics</h6>
				<p class="grey-text"></p>
			</div>
		</div>
	</div>


	<div class="row center-on-small-only">
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="z-depth-1" alt="First sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Jessica Johnson </strong></h4>
				<h6 class="font-bold grey-text mb-4">Instructor of Computer Science</h6>
				<p class="grey-text"></p>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="z-depth-1" alt="Fifth sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Jared Leyba </strong></h4>
				<h6 class="font-bold grey-text mb-4">Instructor of Computer Science/Engineering</h6>
				<p class="grey-text"></p>
			</div>
		</div>
	</div>

	<div class="row center-on-small-only">
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="z-depth-1" alt="First sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Carlos Martinez </strong></h4>
				<h6 class="font-bold grey-text mb-4">Instructor of Mathematics</h6>
				<p class="grey-text"></p>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="z-depth-1" alt="Fifth sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Joseph McCaffrey Ph.D. </strong></h4>
				<h6 class="font-bold grey-text mb-4">Instructor of Physics</h6>
				<p class="grey-text"></p>
			</div>
		</div>
	</div>


	<div class="row center-on-small-only">
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="z-depth-1" alt="First sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Richard Medina Ph.D. </strong></h4>
				<h6 class="font-bold grey-text mb-4">Assistant Professor of Computer Science</h6>
				<p class="grey-text"></p>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="z-depth-1" alt="Fifth sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Joseph Sabutis Ph.D. </strong></h4>
				<h6 class="font-bold grey-text mb-4">Professor of Physics</h6>
				<p class="grey-text"></p>
			</div>
		</div>
	</div>
   
   

	<div class="row center-on-small-only">
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="z-depth-1" alt="First sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Kazumi Stovall </strong></h4>
				<h6 class="font-bold grey-text mb-4">Instructor of Mathematics</h6>
				<p class="grey-text"></p>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 mb-r">
			<!-- <div class="col-md-6 float-left">
				<div class="avatar">
					<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="z-depth-1" alt="Fifth sample avatar image">
				</div>
			</div> -->
			<div class="col-md-12">
				<h4><strong>Gregg Turner Ph.D. </strong></h4>
				<h6 class="font-bold grey-text mb-4">Associate Professor of Mathematics</h6>
				<p class="grey-text"></p>
			</div>
		</div>
	</div>
</section>
