{% extends 'base.html' %}
{% load static %}

{% block title %}Computer Science{% endblock title %}
{% block home %}{% include 'csweb/home.html' %}{% endblock home %}

{% block content %}
    {% include 'csweb/academics.html' %}
    <hr class="my-5">
    {% include 'csweb/faculty.html' %}
    <hr class="my-5">
    {% include 'csweb/gallery.html' %}
    <hr class="my-5">
    {% include 'csweb/news.html' %}
    <hr class="my-5">
    {% include 'csweb/contact.html' %}
{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $("#mdb-lightbox-ui").load("{% static 'mdb-addons/mdb-lightbox-ui.html' %}");
        });
    </script>
{% endblock javascript %}
