<section id="news" class="section pb-3 text-center text-lg-left">
    <h1 class="section-heading h1 pt-4">News</h1>
    <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="row">
        <div class="col-lg-5 ml-auto col-xl-4 pb-3">
            <div class="view overlay hm-white-slight z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image for first version of blog listing" class="img-fluid">
                <a><div class="mask"></div></a>
            </div>
        </div>
        <div class="col-lg-7 mr-auto col-xl-6">
            <a href="" class="green-text"><h6 class="font-bold pb-1"><i class="fa fa-cutlery"></i> Food</h6></a>
            <h4 class="mb-4"><strong>This is title of the news.</strong></h4>
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis aut rerum.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
            <a class="btn btn-success mb-3">Read more</a>
        </div>
    </div>
</section>
